@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

.logo p {
  font-family: "Merriweather", serif;
}

.photo-gradient {
  background: linear-gradient(
      180deg,
      transparent -22.37%,
      rgba(0, 0, 0, 0.35) 93.78%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.33));
}
